{{define "header"}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb">
<head>
	<title>Churnalism | {{.Title}} </title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<meta name="Description" content="{{.Description}}"/>
	<link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/public/css/style.css?v1.01" type="text/css" media="screen" />		
	<!--[if lte IE 7]>
		<link rel="stylesheet" href="/public/css/ie7.css" type="text/css" media="screen" />	
	<![endif]-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
	<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jQuery.Validate/1.7/jQuery.Validate.min.js"></script>
	<script type="text/javascript" src="/public/js/jquery.form.js"></script>
	<script type="text/javascript" src="/public/js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="/public/js/jquery.highlight.v2.js"></script>
	<script type="text/javascript" src="/public/js/jquery.truncate.js"></script>
	<script type="text/javascript" src="/public/js/jquery.address.js"></script>
	<script type="text/javascript" src="/public/js/jquery.tipsy.js"></script>
	<script type="text/javascript" src="/public/js/jquery.raty.js"></script>
	<script type="text/javascript" src="/public/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/public/js/pure.js"></script>
	<script type="text/javascript" src="/public/js/raphael.js"></script>
	<script type="text/javascript" src="/public/js/zeroclipboard.js"></script>
	<script type="text/javascript" src="/public/js/seedrandom.js"></script>
	<script type="text/javascript" src="/public/js/common.js?v1.01"></script>
	{{range .moreScripts}}
	<script type="text/javascript" src="{{.}}"></script>
	{{end}}
	<script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-295933-18']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
	</head>
	<body>
	    <div id="wrapper">
            <div id="logoWrapper">
                <a href="/" class="logo">Home</a>
            </div>   
            <div id="contentWrapper">
            	<div id="header">	
    				<div id="titlewrapper">
        				<a href="/" class="textLogo">Churnalism.com</a>
        				<p>Churn engine to distinguish journalism from&nbsp;</p> <a id="underline" class="tipsy-hover" help="~noun news article based closely on press release"  href="#">churnalism</a>
    				</div>
    				<a href="http://www.mediastandardstrust.org/" id="mstlink">Media Standards Trust</a>
				</div>
{{end}}
{{define "footer"}}
				<div id="footer">
				   <ul>
						<li><a href="/api/">API</a></li>
						<li><a href="/contact/">Contact</a></li>
				        <li><a href="/explore/">Explore</a></li>
						<li><a href="/faq/">FAQs</a></li>
					</ul>
					<p>Another quality <a href="http://www.mediastandardstrust.org/">Media Standards Trust</a> service. Registered charity: 113680. &copy; Media Standards Trust {{year}}</p>
				</div>
            <!-- Content Wrapper end -->
            </div>
        <!-- Wrapper end -->
        </div>
	</body>
</html>
{{end}}