{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block description %}Churnalism.com is an independent, non-profit website to help the public distinguish between original journalism and 'churnalism'. {% endblock %}

{% block content %}
<div id="contact" class="textpage">
    <div id="textpageWrapper">
        <h1>Contact</h1>

        <p>You can contact us via email at <script type="text/javascript" language="javascript">
        <!--
        ML="mts>a\"oh=f:<unr i@/cel.";
        MI=";4?7>D98504@E16:1D40AC7<>=4E@20FC60531D40AC7<>=4E@20FC60;B43";
        OT="";
        for(j=0;j<MI.length;j++){
        OT+=ML.charAt(MI.charCodeAt(j)-48);
        }document.write(OT);
        // --></script>
        <noscript>You need JavaScript to see my email address</noscript></p>
    
        <p>Or tweet us <a href="http://twitter.com/churnalert">@churnalert</a></p>

        <p>Or by phone at +44 (0)20 7727 5252</p>

        <p>Or by letter at Media Standards Trust, 5/7 Vernon Yard, Portobello Road, London W11 2DX</p>

        <p>Churnalism.com is run by the <a href="http://www.mediastandardstrust.org">Media Standards Trust</a> which is a registered charity (No. 1113680)</p>

        <p>If you would like to discuss any commercial applications of churnalism.com please contact <script type="text/javascript" language="javascript">
        <!--
        ML="/>rdlnmfh@a tMuo\"is:ge<.=";
        MI="F:;82E7H@6:A4<?C6:2<A5G6??2E96E3A:B<:53:23B<2>B<G?2D@1=:2<A5;=??2EF0:1";
        OT="";
        for(j=0;j<MI.length;j++){
        OT+=ML.charAt(MI.charCodeAt(j)-48);
        }document.write(OT);
        // --></script>
        <noscript>You need JavaScript to see my email address</noscript></p>
    </div>
</div>

{% endblock %}