{{define "examples"}}
{{set . "Title" "Examples"}}
{{set . "Description" "Examples of 'churnalism' in recent months."}}
{{template "header"}}
{{template "utilities"}}
<div id="examples" class="textpage">
    <div id="textpageWrapper">

        <h1>Examples</h1>

        <h2>Top 50 press releases in the last 3 months</h2>
        
        <ol>
            {{ range .HighScores }}
            <li>
                <a href="{{.Url}}">
            	{{.Title}}>
            	{{if .Scraper }}
                , {{.Scraper}}
                {{end}}
            	, {{ .Published }}
            </li>
            {{ end }}
        </ol>
    </div>
</div>
{{end}}