<!DOCTYPE html>
<html lang="en">
<head>
  <title>Churnalism | {{.Title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="/public/js/libs.js" type="text/javascript" ></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
  <![endif]-->
  <script>var doc={{.Document}}</script>
  <script src="/public/js/sfm.js" type="text/javascript" ></script>
  <script src="/public/js/churnalism.js" type="text/javascript" ></script>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1><a href="/">Churnalism.com</a> <small>Churn engine to distinguish journalism from churnalism</small></h1>
    </div>
    <div class="row">
      <div id="left" class="col-md-9"></div>
      <div id="right" class="col-md-3"></div>
    </div>
    <div class="row">
    <div id="bottom" class="col-md-12"></div>
    </div>
  </div>
  <script id="searchTemplate" type="text/html">
    <form id="searchForm"  role="form">
        <div class="form-group">
          <textarea id="text" class="form-control" placeholder="Paste some text that you would like to search against." title="Must be at least 30 characters long." rows=10></textarea>
        </div>
        <div class="form-group">
          <button id="search" type="submit" class="btn btn-primary pull-right">Search</button>
        </div>
        <div id="noResults">
          <p class="warningLine">No results found. Try again with a longer piece of text or <a href="/explore/">explore</a> some examples for inspiration.</p>
        </div>
    </form>
  </script>
  <script id="saveTemplate" type="text/html">
    <form id="saveForm" class="form-horizontal" role="form">
        <div class="form-control-static">
          <h4>Text entered</h4>
          <p id="textEntered"></p>
        </div>
        <div class="form-group">
          <label class="control-label col-md-1" for="title">Title</label>
          <div class="col-md-11">
            <input id="title" class="form-control" type="text" title="What you want the document listed as." placeholder="e.g. Big Corp launches new product"></input>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-1" for="source">Source</label>
          <div class="col-md-5">
            <input id="source" class="form-control" type="url" title="Where the document was published." placeholder="e.g. http://www.dailymail.co.uk/tvshowbiz/article-2415420"></input>
          </div>
          <label class="control-label col-md-2" for="published">Published</label>
          <div class="col-md-3">
            <input id="published" class="form-control" type="date" title="When the document was published." placeholder="e.g. 21/12/2012"></input>
          </div>
          <div class="col-md-1">
            <button id="save" type="submit" class="btn btn-primary pull-right">Save</button>
          </div>
        </div>
    </form>
  </script>
  <script id="savedTemplate" type="text/html">
  <div id="textEntered"></div> 
  </script>
  <script id="sidebarTemplate" type="text/html">
    <ul id="tabs" class="nav nav-tabs nav-justified">
      <li class="active"><a href="#latest" data-toggle="tab">Latest</a></li>
      <li><a href="#popular" data-toggle="tab">Popular</a></li>
      <li><a href="#recommended" data-toggle="tab">Recommended</a></li>
    </ul>
    <div class="tab-content">
      <ul id="latest" class="tab-pane active">
        <li><a>One</a></li>
      </ul>
      <ul id="popular" class="tab-pane">
        <li><a>Two</a></li>
      </ul>
      <ul id="recommended" class="tab-pane">
        <li><a>Three</a></li>
      </ul>
    </div>
  </script>
  <script id="resultsTemplate" type="text/html">
    <section></section>
  </script>
  <script id="resultsGroupTemplate" type="text/html">
  <table class="table table-responsive table-condensed">
    <thead>
      <tr>
        <th id="count" class="headingTitle" colspan="2"> <%=title()%> similar to text entered</th>
        <th><div id="cut"></div></th>
        <th><div id="paste"></div></th>
        <th><div id="overlap"></div></th>
        <th>Visualisation</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  </script>
  <script id="resultTemplate" type="text/html">
  <td class="ratingCell">
      <img src="/public/images/recycle-<%=(score()>0)?"on":"off"%>.png" alt="1">
      <img src="/public/images/recycle-<%=(score()>1)?"on":"off"%>.png" alt="1">
      <img src="/public/images/recycle-<%=(score()>2)?"on":"off"%>.png" alt="1">
  </td>
  <td class="article descriptionCell"> 
      <a class="title" href="<%=permalink()%>"><%=shortTitle()%></a>
      <p class="journalists"><%=journalists()%></p>
      <a class="newspaper" href="<%=journalisted()%>"><%=source()%></a> 
      <span class="published"><%=published()%></span>
  </td>
  <td class="cutCell tipsy-hover" help="Percentage of entered text used in news article">
      <p class="similarity data"><%=cut()%>%</p>
      <p class="caption">cut</p></td>
  <td class="pasteCell tipsy-hover" help="Percentage of news article that is copied from entered text">
      <p class="recycling data"><%=paste()%>%</p>
      <p class="caption">pasted</p></td>
  <td class="overlapCell tipsy-hover" help="Number of consecutive characters that appear in both entered text and news article">
      <p class="characters data"><%=overlap()%></p>
      <p class="caption">characters<br/>overlap</p>
  </td>
  <td id="visualisation" class="visualisationCell">
  </td>
  </script>
  
</body>
</html>