<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Latest</a></li>
		<li><a href="#tabs-2">Most viewed</a></li>
		<li><a href="#tabs-3">Most shared</a></li>
	</ul>
	<div id="tabs-1">
        {% with high_scores as press_releases %}
        {% include "sidebarlist.html" %}
        {% endwith %}
	</div>
	<div id="tabs-2">
		{% with most_viewed as press_releases %}
        {% include "sidebarlist.html" %}
        {% endwith %}
	</div>
	<div id="tabs-3">
        {% with most_shared as press_releases %}
        {% include "sidebarlist.html" %}
        {% endwith %}		
	</div>
</div>