{{set . "Title" "API"}}
{{set . "Description" "Use the Churnalism.com API to search for news articles that contain sections of the input text."}}
{{template "header.html" . }}
    <h3>API: Search</h3>
    <p>Return a list of articles matching the supplied text.</p> 
    <p><code>http://churnalism.com/search/</code></p>
    <p>This API must be invoked via a POST. GETs will be ignored. The 
    amount of text typically searched for is large enough that encoding 
    it in the url for a GET becomes a little unwieldly.</p> 
    <p>The results are returned as <a href="http://www.json.org/">json</a>.</p>  
    <h5>Parameters:</h5> 
    <dl class="dl-horizontal"> 
        <dt><code>text</code></dt> 
        <dd>The text to search for (eg the body of a press release). This must contain at least 15 characters.</dd> 
    </dl> 
    <h5>Returns:</h5> 
        <dl class="dl-horizontal"> 
            <dt><code>success</code></dt> 
            <dd>boolean - false if an error occured, in which case <code>error</code> will be the only other field returned.</dd> 
            <dt><code>associations</code></dt> 
            <dd>list of articles matching the submitted text. Each entry has the following fields: 
                 <dl> 
                     <dt><code>source</code></dt> 
                     <dd>url of original article</dd> 
                     <dt><code>journalisted</code></dt> 
                     <dd>url on journalisted.com page with additional information about the article</dd> 
                     <dt><code>score</code></dt> 
                     <dd>Number indicating the count of 15 character windows which match between the input text and the article</dd> 
                 </dl> 
             </dd> 
         </dl> 
         <h2>example (in python)</h2> 
         <pre><code>import urllib   # for urlencode 
import urllib2 
      
url = 'http://churnalism.com/api/search/' 
values = {'text' : 'Grapefruit are awesome'} 
      
data = urllib.urlencode(values) 
req = urllib2.Request(url, data) 
response = urllib2.urlopen(req) 
json = response.read() 
print json 
         </code></pre> 
      
         <h2>Try it out</h2> 
    
        <form id="api" action="{% url api-search %}" method="post"> 
            <div class="block">
                {{ .Text}}
            </div>
            <input type="submit" value="Search->">
        </form>
        <div class="block">
            <textarea id="result" class="churnText"></textarea>
        </div>
        </div>
{{template "footer.html" . }}

