{{set . "Title" "Examples"}}
{{set . "Description" "Examples of 'churnalism' in recent months."}}
{{template "header.html" .}}

        <h1>Examples</h1>
        <h2>Top 50 press releases in the last 3 months</h2>
        <ol>
            {{ range .Examples }}
            <li>
                <a href="{{.Url}}">
            	{{.Title}}>
            	{{if .Scraper }}
                , {{.Scraper}}
                {{end}}
            	, {{ .Published }}
            </li>
            {{ end }}
        </ol>
{{template "footer.html" .}}