{{append . "moreScripts" "/public/js/results.js"}}
{{set . "Title" "Search"}}
{{template "header" . }}
{{template "utilities" .}}
<div id="main">
    <!-- Homepage -->
    <div id="home">
        <div id="left">
            <div id="search" class="hidden">
                <div id="homeWrapper">
                    <h2>Paste text below</h2>
                    <form id="churn" action="/search/" method="post"> 
                        <div id="homepageEntryWrapper">
                            {{ .Text }}
                        </div>
                        <a id="search" class="hand right" href="#results">Compare with articles in UK national press and BBC</a>
                    </form>
                </div>
            </div>
            <div id="textEntered">
                <h2>Text entered</h2>
                {{if .Text}}
                <div class="detailsResults">
                <p><strong>{{.Title}}</strong></p>
                <p>{{.Origin}}</p>
                <p>{{.Published}}</p>
                </div>
                {{end}}
                <div id="text">
                    {{.Text}}
                </div>
                <p class="hidden warningLine">Text entered is not saved. <a class="showSave" href="#">Save now</a></p>
            </div>  
            <div id="warningBox" class="hidden">
                <h3>Save above text so that it can be shared and viewed side-by-side with news articles</h3>
                <form id="saveChurn" action="/save/" method="post">
                    {{ .csrf_token }}
                    {{ .ShortTitle }}
                    <label for="churnTitle">Title <span>(eg Big Corp launches new product)</span></label>
                    <label class="churnPublishLabel" for="churnPublish">Publish date</label>
                    {{ .Title}}
                    {{ .Published }}
                    <br class="clear" />
                    <label for="churnFound">Where did you find it?</label>
                    <br class="clear" />
                    {{ .Source }}
                    {{ .SourceLink }}
                    <input type="submit" name="submit" class="button" id="save" value="Save">
                </form>
            </div>
        <!-- end left -->  
        </div>
        <div id="right">
            {{ template "sidebar" }}
        </div>
        <table id="results" class="hidden">
            <colgroup>
            <col id="resultsRating">
            <col id="resultsDescription">
            <col id="resultsCut">
            <col id="resultsPaste">
            <col id="resultsOverlap">
            <col id="resultsVisualisation">
            <col id="resultsSidebyside">
            </colgroup>
            <thead>
                <tr>
                    <th id="count" class="headingTitle" colspan="2"> 5 news articles similar to text entered</th>
                    <th><div id="cut"></div></th>
                    <th><div id="paste"></div></th>
                    <th><div id="overlap"></div></th>
                    <th class="heading textCenter">Visualisation</th>
                    <th class="heading textRight">Side-by-side</th>
                </tr>
            </thead>
            <tbody>
                <tr class="result">
                    <td class="ratingCell">
                        <div class="quality recycle"></div>
                    </td>
                    <td class="article descriptionCell"> 
                        <a class="title"></a>
                        <p class="journalists"></p>
                        <a class="newspaper"></a>, 
                        <span class="published"></span>
                    </td>
                    <td class="cutCell tipsy-hover" help="Percentage of entered text used in news article">
                        <p class="similarity data"></p>
                        <p class="caption">cut</p></td>
                    <td class="pasteCell tipsy-hover" help="Percentage of news article that is copied from entered text">
                        <p class="recycling data"></p>
                        <p class="caption">pasted</p></td>
                    <td class="overlapCell tipsy-hover" help="Number of consecutive characters that appear in both entered text and news article">
                        <p class="characters data"></p>
                        <p class="caption">characters<br/>overlap</p>
                    </td>
                    <td class="visualisationCell">
                        <div class="visualisation"></div>
                    </td>
                    <td class="sidebysideCell">
                        <div class="resultsHand">
                            <a class="handleft">View</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="noresults" class="hidden">
            <p class="warningLine">No results found. <a class="reset" href="#reset">Try again</a> with a longer piece of text or <a href="/explore/">explore</a> some examples for inspiration.</p>
        </div>
        <div id="searching" class="hidden">
            <div id="exploreLoading"><p>Loading news articles</p></div>
        </div>
    <!-- end Homepage -->
    </div>
        <div id="sidebyside" class="hidden">
            <div id="left">
                <div id="textEntered">
                    <h2>Text entered</h2>
                    <div class="details">
                        <p><strong>{{.FormattedTitle}}</strong></p>
                        <p>{{ .Origin }}</p>
                        <p>{{ .Published }}</p>
                    </div>
                    <div id="fullText">
                        {{.Text}}
                    </div>
                </div>
            </div>
            <div id="right">
                <div id="textPublished">
                    <h2>News article</h2>
                    <div class="details">
                        <p><strong><a class="title"></a></strong></p>
                        <p class="journalists"></p>
                        <p><em><a class="newspaper"></a></em></p>
                        <p><span class="published"></span></p>
                    </div>
                    <div id="churnograph"></div>
                </div>
            </div>
            <div id="dataWrapper">
                <div id="dataLeftWrapper">
                    <h3>Your rating</h3>
                    <div class="yourrating recycle"></div>
                    <div class="dottedLines"></div>
                    <h3>Churnalism.com rating</h3>
                    <div class="ourrating recycle"></div>
                    <div class="dottedLines"></div>
                    <a href="#" class="handBack">Full results listing</a>
                </div>
                <div id="dataRightWrapper">
                    <h3>Churn statistics</h3>
                    <div id="statsWrapper">
                        <h4 class="title"></h4>
                        <div id="cut"></div>
                        <p class="data similarity tipsy-hover" help="Percentage of entered text used in news article"></p><p class="caption">cut </p>
                        <div class="dottedLines"></div>
                        <div id="paste"></div>
                        <p class="data recycling tipsy-hover" help="Percentage of news article that is copied from entered text"></p><p class="caption">pasted</p>
                        <div class="dottedLines"></div>
                        <div id="overlap"></div>
                        <p class="data characters tipsy-hover" help="Number of consecutive characters that appear in both entered text and news article"></p><p class="caption">characters overlap</p>
                        <div class="dottedLines"></div>
                    </div>
                </div>
            </div>
        <!-- end sidebyside-->
        </div>
    <!-- end Main -->
    </div>
{{template "footer" .}}